<div class="text-center mt-8 mb-4">
  <h1>Pets</h1>

  <div class="my-4 text-grey px-4 md:px-24 lg:px-48">
    These animal are ready to have their new home now.
    <br />
    If you are interested in adoption pets, please fill out the application
    form. <br />
    We will contact you as soon as possible.
  </div>
</div>

<div class="px-4 md:px-24 text-center my-12">
  <ng-container *ngIf="!isLoaded">
    <div class="grid lg:grid-cols-2 gap-4">
      <nz-select
        [nzMaxTagCount]="3"
        nzMode="multiple"
        nzPlaceHolder="Please select category"
        [(ngModel)]="selectedCategory"
        (ngModelChange)="selectedCategoryChange($event)"
      >
        <nz-option [nzValue]="1" nzLabel="Dog"></nz-option>
        <nz-option [nzValue]="2" nzLabel="Cat"></nz-option>
      </nz-select>

      <div class="grid lg:grid-cols-4" *ngIf="isAdmin">
        <button
          nz-button
          class="flex justify-center text-center ant-btn-orange lg:col-start-4"
          (click)="addPet()"
        >
          <span class="my-auto"> Add Pet </span>
        </button>
      </div>
    </div>

    <div class="col-span-full col-start-1">
      <nz-tabset
        nzCentered
        (nzSelectChange)="nzSelectChange($event)"
        class="my-4"
      >
        <nz-tab nzTitle="Available Pets">
          <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-12">
            <div *ngFor="let pet of availablePets">
              <app-pet-cards
                [name]="pet.name"
                [dob]="pet.dateOfBirth"
                [imgSrc]="pet.images[0]?.imageUrl"
                [sex]="getPetGender(pet.gender)"
                (btnClicked)="goToDetailsPage(pet.id)"
              ></app-pet-cards>
            </div>

            <div
              *ngIf="availablePets.length === 0"
              class="text-lg text-fold text-center col-span-full"
            >
              Sorry, the category that you selected is not available now.
            </div>
          </div>
        </nz-tab>

        <nz-tab nzTitle="Adopted Pets">
          <ng-container *ngIf="selectedIndex === 1">
            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-12">
              <div *ngFor="let pet of adoptedPets">
                <app-pet-cards
                  [name]="pet.name"
                  [dob]="pet.dateOfBirth"
                  [imgSrc]="pet.images[0]?.imageUrl"
                  [sex]="getPetGender(pet.gender)"
                  [showBtn]="isAdmin"
                  (btnClicked)="goToDetailsPage(pet.id)"
                ></app-pet-cards>
              </div>

              <div
                *ngIf="adoptedPets.length === 0"
                class="text-lg text-fold text-center col-span-full"
              >
                Sorry, the category that you selected is not available now.
              </div>
            </div>
          </ng-container>
        </nz-tab>
      </nz-tabset>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoaded">
    <nz-skeleton [nzLoading]="true"></nz-skeleton>
  </ng-container>
</div>
