<div class="text-center mt-8 mb-4">
  <h1>Foster Application Form</h1>
</div>

<div class="px-4 md:px-24 text-center gap-4">
  <white-card>
    <div class="gap-4">
      <form nz-form [formGroup]="applicationForm" class="my-auto">
        <div class="grid lg:grid-cols-2 gap-4">
          <!-- Personal info -->
          <ng-container>
            <div class="col-span-full text-xl font-bold text-left">
              Personal Information
            </div>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your first name">
                <nz-form-label nzRequired>First Name</nz-form-label>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="applicantFirstName"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your last name">
                <nz-form-label nzRequired>Last Name</nz-form-label>
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="applicantLastName"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your age">
                <nz-form-label nzRequired>Age</nz-form-label>
                <nz-input-group>
                  <input type="number" nz-input formControlName="age" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your phone number">
                <nz-form-label nzRequired>Phone Number</nz-form-label>
                <nz-input-group>
                  <input type="number" nz-input formControlName="phoneNo" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your email">
                <nz-form-label nzRequired>Email</nz-form-label>
                <nz-input-group>
                  <input type="text" nz-input formControlName="email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-divider class="col-span-full"> </nz-divider>
            <div class="col-span-full text-xl font-bold text-left">
              Address
              <span class="text-grey text-md"
                >(Only accept Great Toronto Area)</span
              >
            </div>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your address">
                <nz-form-label nzRequired>Address</nz-form-label>
                <nz-input-group>
                  <input type="type" nz-input formControlName="address" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your city">
                <nz-form-label nzRequired>City</nz-form-label>
                <nz-input-group>
                  <input type="type" nz-input formControlName="city" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your postal code">
                <nz-form-label nzRequired>Postal Code</nz-form-label>
                <nz-input-group>
                  <input type="type" nz-input formControlName="postalCode" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-divider class="col-span-full"> </nz-divider>

            <div class="col-span-full text-xl font-bold text-left">
              Occupation Information
            </div>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select employment status">
                <nz-form-label nzRequired>Are you employed</nz-form-label>
                <nz-select formControlName="employmentStatus">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item
              *ngIf="applicationForm.value.employmentStatus === 'Yes'"
            >
              <nz-form-control nzErrorTip="Please input your occupation">
                <nz-form-label nzRequired>Occupation</nz-form-label>
                <nz-input-group>
                  <input type="type" nz-input formControlName="occupation" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-divider class="col-span-full"></nz-divider>
          </ng-container>

          <!-- Apartment info -->
          <ng-container>
            <div class="col-span-full text-xl font-bold text-left">
              Apartment Information
            </div>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select household type">
                <nz-form-label nzRequired>Household Type</nz-form-label>
                <nz-select formControlName="householdType">
                  <nz-option
                    *ngFor="let option of houseHoldType"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Do you own or rent your home</nz-form-label
                >
                <nz-select formControlName="houseOwnership">
                  <nz-option
                    *ngFor="let option of houseOwnership"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item
              *ngIf="applicationForm.value.houseOwnership === 'Rent'"
            >
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Does your landlord support your participation in the foster
                  program</nz-form-label
                >
                <nz-select formControlName="landlordSupportFoster">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Do you live with children</nz-form-label
                >
                <nz-select formControlName="haveChildren">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Will you allow a home visit to ensure that your home is
                  appropriate for fostering</nz-form-label
                >
                <nz-select formControlName="allowHomeVisit">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-divider class="col-span-full"></nz-divider>
          </ng-container>

          <!-- Household Info Array -->
          <ng-container
            *ngIf="
              applicationForm.value.householdType !== 'Single' &&
              applicationForm.value.householdType
            "
          >
            <div class="col-span-full text-xl font-bold text-left">
              Household Information
            </div>

            <ng-container formArrayName="householdInfo">
              <ng-container
                *ngFor="let info of householdInfoArray.controls; index as i"
              >
                <ng-container [formGroupName]="i">
                  <ng-container>
                    <nz-divider
                      *ngIf="i > 0"
                      class="col-span-full"
                    ></nz-divider>

                    <div class="text-md font-bold col-span-full text-left">
                      Household {{ i + 1 }}
                      <span
                        *ngIf="i > 0"
                        class="material-icons cursor-pointer text-sm text-grey"
                        (click)="deleteHouseholdInfo(i)"
                      >
                        delete
                      </span>
                    </div>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input name">
                        <nz-form-label nzRequired>Name</nz-form-label>
                        <nz-input-group>
                          <input type="text" nz-input formControlName="name" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input age">
                        <nz-form-label nzRequired>Age</nz-form-label>
                        <nz-input-group>
                          <input type="number" nz-input formControlName="age" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input occupation">
                        <nz-form-label nzRequired>Occupation</nz-form-label>
                        <nz-input-group>
                          <input
                            type="input"
                            nz-input
                            formControlName="occupation"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control
                        nzErrorTip="Please input hours stay at home"
                      >
                        <nz-form-label nzRequired
                          >Hour(s) stay at home per day</nz-form-label
                        >
                        <nz-input-group>
                          <input
                            type="number"
                            nz-input
                            formControlName="hoursStayAtHome"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please select the answer">
                        <nz-form-label nzRequired
                          >Does he/she support your participation in the foster
                          program</nz-form-label
                        >
                        <nz-select formControlName="supportFosterProgram">
                          <nz-option
                            *ngFor="let option of yesNoOptions"
                            [nzLabel]="option"
                            [nzValue]="option"
                          ></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </ng-container>
                </ng-container>
              </ng-container>

              <div class="col-span-full text-center">
                <button
                  nz-button
                  class="ant-btn-orange"
                  (click)="addHouseholdInfo()"
                >
                  Add Household Info
                </button>
              </div>

              <nz-divider class="col-span-full"></nz-divider>
            </ng-container>
          </ng-container>

          <!-- Children Info Array -->
          <ng-container *ngIf="applicationForm.value.haveChildren === 'Yes'">
            <div class="col-span-full text-xl font-bold text-left">
              Children Information
            </div>
            <ng-container formArrayName="childrenInfo">
              <ng-container
                *ngFor="let info of childrenInfoArray.controls; index as i"
              >
                <ng-container [formGroupName]="i">
                  <ng-container>
                    <nz-divider
                      *ngIf="i > 0"
                      class="col-span-full"
                    ></nz-divider>

                    <div class="text-md font-bold col-span-full text-left">
                      Child {{ i + 1 }}
                      <span
                        *ngIf="i > 0"
                        class="material-icons cursor-pointer text-sm text-grey"
                        (click)="deleteChildrenInfo(i)"
                      >
                        delete
                      </span>
                    </div>

                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input age">
                        <nz-form-label nzRequired>Age</nz-form-label>
                        <nz-input-group>
                          <input type="number" nz-input formControlName="age" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </ng-container>
                </ng-container>
              </ng-container>

              <div class="col-span-full text-center">
                <button
                  nz-button
                  class="ant-btn-orange"
                  (click)="addChildrenInfo()"
                >
                  Add Child Info
                </button>
              </div>
            </ng-container>
          </ng-container>

          <!-- Previous Petting Information -->
          <ng-container>
            <div class="col-span-full text-xl font-bold text-left">
              Previous Petting Information
            </div>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Have you owned pet now / before</nz-form-label
                >
                <nz-select formControlName="ownedPetBefore">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Have you ever surrendered a pet</nz-form-label
                >
                <nz-select formControlName="surrenderedPet">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <!-- Only show when owned pet before -->
            <ng-container
              *ngIf="applicationForm.value.ownedPetBefore === 'Yes'"
            >
              <nz-form-item>
                <nz-form-control
                  nzErrorTip="Please input the primary caregiver"
                >
                  <nz-form-label nzRequired
                    >Who is the primary caregiver for your (previous)
                    pets</nz-form-label
                  >
                  <nz-input-group>
                    <input
                      type="input"
                      nz-input
                      formControlName="primaryCaregiver"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-divider class="col-span-full"></nz-divider>

              <ng-container formArrayName="ownedPetInfo">
                <ng-container
                  *ngFor="let info of ownedPetInfoArray.controls; index as i"
                >
                  <ng-container [formGroupName]="i">
                    <ng-container>
                      <nz-divider
                        *ngIf="i > 0"
                        class="col-span-full"
                      ></nz-divider>

                      <div class="text-md font-bold col-span-full text-left">
                        Owned Pet {{ i + 1 }}
                        <span
                          *ngIf="i > 0"
                          class="material-icons cursor-pointer text-sm text-grey"
                          (click)="deleteOwnedPetInfo(i)"
                        >
                          delete
                        </span>
                      </div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select type">
                          <nz-form-label nzRequired>Type</nz-form-label>
                          <nz-select formControlName="type">
                            <nz-option
                              *ngFor="let option of petTypeOptions"
                              [nzLabel]="option"
                              [nzValue]="option"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please input age">
                          <nz-form-label nzRequired>Age</nz-form-label>
                          <nz-input-group>
                            <input
                              type="number"
                              nz-input
                              formControlName="age"
                            />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please input duration">
                          <nz-form-label nzRequired
                            >How many years did you own the pets</nz-form-label
                          >
                          <nz-input-group>
                            <input
                              type="number"
                              nz-input
                              formControlName="duration"
                            />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <div class="col-span-full text-center">
                  <button
                    nz-button
                    class="ant-btn-orange"
                    (click)="addOwnedPetInfo()"
                  >
                    Add Owned Pet Info
                  </button>
                </div>
              </ng-container>
            </ng-container>

            <nz-divider class="col-span-full"></nz-divider>
          </ng-container>

          <!-- Petting Information-->
          <ng-container>
            <div class="col-span-full text-xl font-bold text-left">
              Petting Information
            </div>

            <nz-form-item class="col-span-full">
              <nz-form-control nzErrorTip="Please input the place">
                <nz-form-label nzRequired
                  >Where will your dog/cat be staying during the day and
                  night</nz-form-label
                >
                <nz-input-group>
                  <input type="input" nz-input formControlName="stayingPlace" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-full">
              <nz-form-control nzErrorTip="Please input the place">
                <nz-form-label nzRequired
                  >Are there any specific areas in your home that your dog is
                  not allowed to access</nz-form-label
                >
                <nz-input-group>
                  <input
                    type="input"
                    nz-input
                    formControlName="prohibitedPlace"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-full">
              <nz-form-control nzErrorTip="Please input the answer">
                <nz-form-label nzRequired
                  >When do you consider a medical emergency needing immediate
                  attention</nz-form-label
                >
                <nz-input-group>
                  <input
                    type="input"
                    nz-input
                    formControlName="medicalEmergencySituation"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-full">
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Although we provide the initial supplies, it may be necessary
                  for you to purchase your own food/litter. Do you think it will
                  be a problem</nz-form-label
                >
                <nz-select formControlName="purchaseIsProblem">
                  <nz-option
                    *ngFor="let option of yesNoOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-full">
              <nz-form-control nzErrorTip="Please select the answer">
                <nz-form-label nzRequired
                  >Do you have an area where the foster animal(s) can be
                  isolated from your own pets if necessary</nz-form-label
                >
                <nz-select formControlName="isolatedFromOwnPet">
                  <nz-option
                    *ngFor="let option of yesNoNaOptions"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="col-span-full">
              <nz-form-control
                nzErrorTip="Please select at least 1 type of pets"
              >
                <nz-form-label nzRequired
                  >Interested in fostering what type of animal</nz-form-label
                >
                <nz-select nzMode="multiple" formControlName="interestPet">
                  <nz-option
                    *ngFor="let option of petTypeList"
                    [nzLabel]="option"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </ng-container>

          <div class="col-span-full font-bold text-justify">
            In signing this application, I understand and agree: I understand
            that where my volunteer work involves contact of any kind with
            animals, there is a risk that I may be scratched, bitten, or come
            into contact with a diseased animal. I agree to release and hold
            harmless Pet Save and its employees from any and all liability for
            any damage or injury, whether arising from this contract or a breach
            thereof or from any act of negligence or gross negligence by Save
            Pets or its employees. I understand that any and all animals I
            foster through Pet Save remain the explicit property of Pet Save
            until they are officially adopted through the rescue. I understand I
            am not allowed to adopt/foster animals on behalf of Pet Save, and
            any interested parties (myself included) will be required to submit
            an adoption application before custody of the animal is transferred.
            I understand that any medical concerns relating to the animal in my
            care must first be discussed with the staff and technicians at Save
            Pets. I know I am not to bring the animal to a veterinarian without
            first consulting with the staff at Pet Save. If the animal requires
            a veterinary visit, I know the staff at Pet Save will tell me which
            veterinarian it should be brought to. By signing below, I certify
            that the information I have provided on this application form is
            true and correct. I understand any misrepresentation of the facts
            may result in my foster parenting privileges being revoked. I give
            Pet Save full permission to investigate the information provided on
            this application.
          </div>

          <nz-form-item class="col-span-full">
            <nz-form-control nzErrorTip="Please read and agree the terms">
              <nz-select formControlName="agree">
                <nz-option
                  *ngFor="let option of agreeOptions"
                  [nzLabel]="option"
                  [nzValue]="option"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <div class="col-span-full text-center">
            <nz-form-item>
              <nz-form-control>
                <button
                  nz-button
                  class="ant-btn-orange"
                  nzSize="large"
                  (click)="submitForm()"
                >
                  Submit
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </white-card>
</div>
