<div class="rounded-2xl card">
  <div class="grid sm:grid-cols-2">
    <img
      [src]="imgSrc"
      [alt]="imgAlt"
      class="rounded-l-2xl hidden sm:block desktop-image text-left"
      *ngIf="!isImageLeft"
    />

    <div
      class="p-4 px-12"
      [ngClass]="
        buttonText ? 'flex justify-between flex-col py-12 lg:px-24' : 'my-auto'
      "
    >
      <div class="font-bold title text-center" *ngIf="title">{{ title }}</div>

      <div class="text-center my-2" [innerHTML]="content"></div>

      <div class="flex justify-center" *ngIf="buttonText">
        <button
          nz-button
          class="ant-btn-orange"
          (click)="buttonClick.emit()"
          nzSize="large"
        >
          {{ buttonText }}
        </button>
      </div>
    </div>

    <div class="flex justify-end">
      <img
        [src]="imgSrc"
        [alt]="imgAlt"
        class="rounded-r-2xl hidden sm:block desktop-image"
        *ngIf="isImageLeft"
      />
    </div>

    <!-- only show when mobile view -->
    <img
      [src]="imgSrc"
      [alt]="imgAlt"
      class="rounded-b-2xl w-full block sm:hidden"
    />
  </div>
</div>
