<div class="text-center mt-8 mb-4">
  <h1>Adopt</h1>

  <!-- <div class="my-4 text-grey px-4 md:px-24 lg:px-48">
    
  </div> -->
</div>

<div class="text-center">
  <div class="px-4 md:px-24 text-center my-12 grid gap-12">
    <white-card
      appIntersectionObserver
      (visible)="onVisible('adoption-timeline')"
      class="adoption-timeline hide-content"
    >
      <nz-timeline>
        <nz-timeline-item [nzColor]="'#ff5e0f'" *ngFor="let step of stepList">
          <div class="text-xl font-bold mx-2">{{ step.title }}</div>
          <div class="text-grey mx-2" [innerHTML]="step.content"></div>
        </nz-timeline-item>
      </nz-timeline>
    </white-card>

    <white-card
      appIntersectionObserver
      (visible)="onVisible('adoption-requirement')"
      class="adoption-requirement hide-content"
    >
      <ng-container>
        <div class="text-xl font-bold text-left">Adopt Requirement</div>

        <div
          class="text-grey text-left my-1"
          *ngFor="let r of adoptionRequirements; index as i"
        >
          {{ i + 1 }}. {{ r }}
        </div>
      </ng-container>
    </white-card>
  </div>

  <div class="container">
    <img src="adopt/adoption.jpeg" class="banner" />

    <div class="text-wrapper">
      <div class="text-white font-bold title">
        Thanks for adopting instead of buying!
      </div>
    </div>
  </div>
</div>
