<div class="fixed top-0 w-full z-10">
  <!-- Mobile Menu Bar -->
  <div class="block lg:hidden bg-[#ff5e0f]">
    <div class="flex justify-between">
      <img
        src="save-pets-icon.jpeg"
        alt="Pet Save Icon"
        class="w-16 h-16 cursor-pointer"
        (click)="routeTo('/home')"
      />

      <div class="flex">
        <img
          src="ig.png"
          alt="Pet Save Instagram"
          class="ig-icon"
          (click)="routeTo('ig')"
        />

        <span
          class="material-icons text-white text-3xl my-auto mx-2 cursor-pointer"
          (click)="visible = true"
        >
          list
        </span>
      </div>
    </div>
  </div>

  <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right">
    <ng-container *nzDrawerContent>
      <div class="flex justify-between bg-[#ff5e0f]">
        <img src="save-pets-logo.jpeg" class="w-16 h-16" />

        <span
          class="material-icons text-white my-auto text-3xl mx-2 cursor-pointer"
          (click)="visible = false"
        >
          close
        </span>
      </div>

      <div class="px-8">
        <ng-container *ngFor="let site of navSites">
          <ng-container *ngIf="!site.children">
            <div
              class="my-4 text-xl cursor-pointer hover:underline"
              (click)="routeTo(site.path)"
            >
              {{ site.name }}
            </div>
          </ng-container>

          <ng-container *ngIf="site.children">
            <div
              class="my-4 text-xl cursor-pointer hover:underline"
              (click)="expandMenu('Adopt')"
            >
              {{ site.name }}

              <span class="material-icons text-black text-md relative top-1.5">
                expand_more
              </span>
            </div>

            <div *ngIf="site.isExpand">
              <div
                *ngFor="let c of site.children"
                class="px-4 my-2 site hover:underline"
                (click)="routeTo(c.path)"
              >
                {{ c.name }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </nz-drawer>

  <!-- Desktop Menu Bar -->
  <div class="lg:block hidden bg-[#ff5e0f] text-white">
    <div class="justify-between flex px-8">
      <div class="flex">
        <img
          src="save-pets-icon.jpeg"
          alt="save-pets-icon"
          class="pet-icon"
          (click)="routeTo('/home')"
        />

        <ng-container *ngFor="let site of navSites">
          <ng-container *ngIf="!site.children">
            <div
              class="mr-4 my-auto font-bold text-lg flex"
              (click)="routeTo(site.path)"
            >
              <span class="site">
                {{ site.name }}
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="site.children">
            <div class="mr-4 my-auto font-bold text-lg flex">
              <span class="site" nz-dropdown [nzDropdownMenu]="menu">
                {{ site.name }}

                <span class="material-icons text-white text-sm">
                  expand_more
                </span>
              </span>
            </div>
          </ng-container>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li *ngFor="let c of site.children" (click)="routeTo(c.path)">
                {{ c.name }}
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>

      <div class="flex justify-end my-auto">
        <img
          src="ig.png"
          alt="Pet Save Instagram"
          class="ig-icon"
          (click)="routeTo('ig')"
        />

        <span class="material-icons cursor-pointer text-3xl mx-2" (click)="routeTo('admin/login')"> settings </span>
      </div>
    </div>
  </div>
</div>
