<div class="grid gap-12">
  <!-- Welcome Banner -->
  <app-welcome-banner></app-welcome-banner>

  <div class="px-4 md:px-24 text-center grid gap-12">
    <!-- Save Pet Intro -->
    <left-right-card
      class="save-pets-intro hide-content"
      appIntersectionObserver
      (visible)="onVisible('save-pets-intro')"
      [title]="'Pet Save'"
      [content]="
        'Our mission is to provide forever homes for the hundreds of animals that need our help. <br><br>But, as important as it is to ensure that the animals are a suitable match for you, we also want to ensure that you’re in the right position to adopt one. <br><br>Our adoption process is simple: select which animal you’re interested in, fill out an application form and if selected, there will be a home visit to get to know you a bit more and for further instructions. <br><br>Note that due to the high volume of adopters we get, you may not hear back from us unless you are selected to move forward with the home visit. <br><br>However, this doesn’t mean that you don’t meet the criteria. <br><br>We encourage you to stay updated on our “adopted” to check whether an adopter has already been found.'
      "
      [imgSrc]="'save-pets-icon.jpeg'"
      [imgAlt]="'Pet Save Icon'"
    ></left-right-card>

    <!-- Goals -->
    <div
      class="text-center our-goals hide-content"
      appIntersectionObserver
      (visible)="onVisible('our-goals')"
    >
      <h1>Our Goals</h1>
      <div class="grid grid-cols-2 xl:grid-cols-4 my-4 gap-4">
        <div *ngFor="let goal of goalsList" class="text-center">
          <app-bubble
            [imgSrc]="goal.imgSrc"
            [content]="goal.content"
          ></app-bubble>
        </div>
      </div>
    </div>

    <!-- Our Missions -->
    <div
      class="text-center our-missions hide-content"
      appIntersectionObserver
      (visible)="onVisible('our-missions')"
    >
      <white-card>
        <ng-container>
          <h1>Our Purpose</h1>

          <div class="my-4">
            <img
              src="home-page/propose.webp"
              alt="Pet Save - Our Purpose"
              class="purpose-image"
            />

            <ng-container *ngFor="let item of purposeList; index as i">
              <div class="text-grey text-left my-2">
                {{ i + 1 }}. {{ item }}
              </div>
            </ng-container>
          </div>
        </ng-container>
      </white-card>
    </div>
  </div>
</div>
