<div class="px-4 md:px-28 mt-8 mb-4">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
    <nz-breadcrumb-item>Add New Pet </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div class="text-center mt-8 mb-4">
  <h1>{{ petId ? "Edit" : "Add" }} New Pet</h1>
</div>

<div class="px-4 md:px-24 text-center gap-4">
  <white-card>
    <div class="gap-4">
      <form nz-form [formGroup]="newPetForm" class="my-auto">
        <div class="grid lg:grid-cols-2 gap-4">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the pet's name">
              <nz-form-label nzRequired>Name</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please select category">
              <nz-form-label nzRequired
                >Please select the category</nz-form-label
              >
              <nz-select formControlName="categoryId">
                <nz-option
                  *ngFor="let option of categoryOptions"
                  [nzLabel]="capitalizeFirstLetter(option.value)"
                  [nzValue]="option.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please select gender">
              <nz-form-label nzRequired>Please select the gender</nz-form-label>
              <nz-select formControlName="genderId">
                <nz-option
                  *ngFor="let option of genderOptions"
                  [nzLabel]="capitalizeFirstLetter(option.value)"
                  [nzValue]="option.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter the breed">
              <nz-form-label nzRequired>Breed</nz-form-label>
              <nz-select formControlName="breed" nzShowSearch>
                <nz-option
                  *ngFor="let option of breedList"
                  [nzLabel]="option"
                  [nzValue]="option"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please select the date of birth">
              <nz-form-label nzRequired>Date of birth</nz-form-label>
              <nz-date-picker formControlName="dateOfBirth"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter the weight">
              <nz-form-label nzRequired>Weight in pounds</nz-form-label>
              <nz-input-group>
                <input type="number" nz-input formControlName="weight" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter the color">
              <nz-form-label nzRequired>Color</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="color" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please select the type">
              <nz-form-label nzRequired>House Trained</nz-form-label>
              <nz-select formControlName="houseTrained">
                <nz-option
                  *ngFor="let option of yesNoOptions"
                  [nzLabel]="option.label"
                  [nzValue]="option.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="col-span-full">
            <nz-form-control nzErrorTip="Please enter the health status">
              <nz-form-label nzRequired>Health Status</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="healthStatus" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="col-span-full">
            <nz-form-control nzErrorTip="Please enter the ideal family">
              <nz-form-label nzRequired>Ideal Family</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="idealFamily" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="col-span-full">
            <nz-form-control nzErrorTip="Please enter the characteristics">
              <nz-form-label nzRequired>Characteristics</nz-form-label>

              <textarea nz-input formControlName="characteristics"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="col-span-full">
            <nz-form-control nzErrorTip="Please enter the description">
              <nz-form-label nzRequired>Description</nz-form-label>

              <textarea nz-input formControlName="description"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="col-span-full" *ngIf="petId">
            <nz-form-control>
              <nz-form-label nzRequired>Is Being Adopted?</nz-form-label>

              <nz-select formControlName="isAdopted">
                <nz-option
                  *ngFor="let option of yesNoOptions"
                  [nzLabel]="option.label"
                  [nzValue]="option.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <div class="col-span-full mx-auto">
            <button nz-button class="ant-btn-orange my-2" (click)="addPet()">
              {{ petId ? "Edit" : "Add" }} Pet
            </button>
          </div>
        </div>
      </form>
    </div>
  </white-card>
</div>

<!-- Pop up -->
<nz-modal [(nzVisible)]="showPopUpModal" [nzClosable]="false" [nzFooter]="null">
  <ng-container *nzModalContent>
    <div class="text-center">
      <div class="grid gap-4">
        <ng-container *ngIf="isUnauthorized">
          <div>Sorry you don't have the admin right.</div>
          <div>If you do, please try to login again</div>

          <div class="mx-auto">
            <button
              nz-button
              class="ant-btn-orange my-2"
              (click)="routeTo('login')"
            >
              <span>Login</span>
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="isAdded">
          <div>
            {{ newPetForm.value.name }} has
            {{ petId ? "updated" : "added" }} successfully!
          </div>

          <div>
            You are routing to the {{ newPetForm.value.name }}'s details page
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</nz-modal>
