<div class="px-4 md:px-28 mt-8 mb-4 grid grid gap-12" *ngIf="isLoaded">
  <nz-breadcrumb>
    <nz-breadcrumb-item>Adopt</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a (click)="routeToPage('pets')">Pets</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ petInfo?.name }}</nz-breadcrumb-item>
  </nz-breadcrumb>

  <h1 class="text-xl font-bold text-center">Hi I'm {{ petInfo?.name }}</h1>

  <ng-container *ngIf="petInfo.images.length > 0">
    <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="5000" class="block lg:hidden">
      <div nz-carousel-content *ngFor="let image of petInfo?.images">
        <img [src]="image" [alt]="'Pet Save - ' + petInfo?.name" />
      </div>
    </nz-carousel>

    <div class="hidden lg:block">
      <div class="grid grid-cols-5">
        <nz-carousel
          nzAutoPlay
          [nzAutoPlaySpeed]="5000"
          class="col-span-3 col-start-2"
        >
          <div nz-carousel-content *ngFor="let image of petInfo?.images">
            <img [src]="image" [alt]="'Pet Save - ' + petInfo?.name" />
          </div>
        </nz-carousel>
      </div>
    </div>
  </ng-container>

  <white-card *ngIf="petInfo">
    <div class="grid gap-4">
      <text-align [title]="'Name'" [content]="petInfo?.name"></text-align>
      <text-align
        [title]="'Sex'"
        [content]="getPetGender(petInfo.gender)"
      ></text-align>
      <text-align
        [title]="'Age'"
        [content]="petAge + ' (Born on ' + petInfo.dateOfBirth + ')'"
        *ngIf="petAge"
      ></text-align>
      <text-align
        [title]="'Breed'"
        [content]="petInfo.breed"
        *ngIf="petInfo.breed"
      ></text-align>
      <text-align
        [title]="'Weight'"
        [content]="petInfo.weight + ' pound(s)'"
        *ngIf="petInfo.weight && petInfo.weight > 0"
      ></text-align>
      <text-align
        [title]="'Characteristics'"
        [content]="petInfo.characteristics"
        *ngIf="petInfo.characteristics"
      ></text-align>
      <text-align [title]="'Color'" [content]="petInfo.color"></text-align>
      <text-align
        [title]="'Health status'"
        [content]="petInfo.healthStatus"
        *ngIf="petInfo.healthStatus"
      ></text-align>
      <text-align
        [title]="'House Trained'"
        [content]="petInfo.houseTrained ? 'Yes' : 'No'"
        *ngIf="petInfo.houseTrained"
      ></text-align>
      <text-align
        [title]="'Personality'"
        [content]="petInfo.personality"
        *ngIf="petInfo.personality"
      ></text-align>
      <text-align
        [title]="'Ideal Family'"
        [content]="petInfo.idealFamily"
        *ngIf="petInfo.idealFamily"
      ></text-align>

      <nz-divider></nz-divider>

      <div
        *ngIf="petInfo.description"
        [innerHTML]="petInfo.description"
        class="text-lg"
      ></div>
      <nz-divider></nz-divider>

      <div class="text-lg grid gap-4">
        <div class="font-bold">
          Only local (Great Toronto Area) adoption is accepted.
        </div>
        <div>
          If you’re interested in adopting this pet, please fill out this
          <span
            class="underline font-bold cursor-pointer"
            (click)="routeToPage('application-form')"
            >adoption form</span
          >
          to express your interest.
        </div>

        <div>
          Now We will reach back in
          <span class="font-bold">3-4 business days</span> for further
          instructions.
        </div>
      </div>
    </div>
  </white-card>

  <div class="flex justify-center flex-col md:flex-row">
    <button
      nz-button
      class="ant-btn-orange"
      nzSize="large"
      (click)="routeToPage('application-form')"
    >
      Adopt Me
    </button>

    <button
      nz-button
      class="ant-btn-orange my-4 md:my-0 md:mx-8"
      nzSize="large"
      (click)="routeToPage('donate')"
    >
      Donation
    </button>
  </div>
</div>
