<white-card
  [ngClass]="name"
  class="hide-content"
  appIntersectionObserver
  (visible)="onVisible(name)"
>
  <img [src]="imgSrc" [alt]="name" />

  <div class="text-xl font-bold flex justify-center my-2">
    {{ name }}

    <span
      class="material-icons font-bold"
      [ngClass]="sex === 'F' ? 'text-[#f25551]' : 'text-[#1890ff]'"
      >{{ sex === "F" ? "female" : "male" }}
    </span>
  </div>

  <div class="my-2 text-center">
    <span class="material-icons text-md relative top-1"> cake </span>
    {{ age }}
  </div>

  <button
    nz-button
    class="ant-btn-orange"
    *ngIf="showBtn"
    (click)="btnClicked.emit()"
  >
    Learn More
  </button>
</white-card>
